<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--  默认-->
    <bean id="bean" name="bean1" class="com.wvkia.Container.Dependencies_4.Bean"></bean>

    <!-- 静态工厂方法 -->
    <bean id="clientService" class="com.wvkia.Container.Dependencies_4.ClientService" factory-method="createInstance"/>


    <!-- 实例工厂 -->

</beans>
